*{
    padding:0;
    margin:0;
}
/* the star means to grab everything */
body{
   background-color: #747474;
}

h1 {
    color: #272727;
    text-align:center;    
    font-size: 100px;
    font: Arial;
}

#timer{
    color: #272727;
    text-align:center;    
    font-size: 75px;
    font: Arial;
}

canvas{
    border: 1px solid black;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.buttons{
    text-align: center;    
}

.buttons button{
    background: #14A76C;
    color: #FFE400;
    font-size: 25px;
    font: Arial;
    border: 1px solid #FF652F;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 5px;
    width: 175px;    
}

.buttons button:hover {
    background: #FFE400;
    color: #14A76C;
    border: 1px solid #5d8ffc;
    cursor:pointer;
}

#display_leader_board{
    display:none;
}

#display_leader_board h2 {
    text-align:center;     
    color: #272727;       
    font-size: 75px;
    font: Arial;
}

#leader_board{
    
}

#leader_board ol{
    padding: 5px 20px;
    text-align: center;
    list-style-position: inside;
    color: #272727;       
    font-size: 50px;
    font: Arial;
}

